.form {
  text-align: center;
  padding: 10px;
  border: 2px solid black;
  display: block;
  width: fit-content;
}
.filed_wrap {
  text-align: left;
  margin-bottom: 10px;
  flex-direction: column;
  display: flex;
}

span {
  font-size: 10px;
  color: red;
}
